<!DOCTYPE html>

<html>

<head>
    <title>|-|4(|{3R \/\/34T|-|3R</title>
    <link rel="icon" href="/img/HW_icon.png">
    <link rel="stylesheet" href="/css/hackerStyle.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="center">
            <p>im in ur base stealin ur weather</p>
            <form>
            <input placeholder="Location">
            <button>
                Hack the matrix
            </button>
        </form>
        
        <p id="message-1"></p>

        <p id="message-2"></p>

        <p id="message-3"></p>

        <p id="message-4"></p>
        </div>
        




    </div>

{{>footer}}


    <script src="/js/app.js"></script>
</body>

</html>