<!DOCTYPE html>

<html>

<head>
    <title>Hacker Weather - Home</title>
    <link rel="icon" href="/img/HW_icon.png">
    <link rel="stylesheet" href="/css/hackerStyle.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>I'm in ur city stealin ur weather</p>

        <form>
            <input placeholder="Location">
            <button>
                Hack your Weather
            </button>
        </form>

        <p id="message-1"></p>

        <p id="message-2"></p>

        <p id="message-3"></p>

        <p id="message-4"></p>


    </div>

{{>footer}}


    <script src="/js/app.js"></script>
</body>

</html>