<!DOCTYPE html>

<html>

<head>
    <title>Hacker Weather - 404</title>
    <link rel="icon" href="/img/HW_icon.png">
    <link rel="stylesheet" href="/css/normalStyle.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="center">
        <p>{{message}}</p>
        </div>

       
    </div>

 {{>footer}}
</body>

</html>