<!DOCTYPE html>

<html>

<head>
    <title>Hacker Weather - 404</title>
    <link rel="icon" href="/img/HW_icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        {{>footer}}
    </div>


</body>

</html>