<!DOCTYPE html>

<html>

<head>
        <title>Hacker Weather - About</title>
        <link rel="icon" href="/img/HW_icon.png">
        <link rel="stylesheet" href="/css/normalStyle.css">
</head>

<body>
        <div class="main-content">
                {{>header}}
                <div class="center">
                <p>This is a silly little weekend project created to practice NodeJS.</p>
                <p>It uses data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="https://www.darksky.net">darksky.net</a> in order to do its thing.</p>
                <p>You can see the related GitHub repo (and contribute!) at <a href="https://github.com/Dreadmaker/WeatherSite">https://github.com/Dreadmaker/WeatherSite</a></p>
                <p>Maybe don't do that until you've hacked the matrix though.</p>
                </div>


                

        </div>
{{>footer}}

</body>

</html>