<!DOCTYPE html>

<html>

<head>
        <title>Hacker Weather - About</title>
        <link rel="icon" href="/img/HW_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <div class="main-content">
                {{>header}}
                <p>This is a silly little weekend project created to practice NodeJS.</p>
                <p>It uses data from mapbox.com and darksky.net in order to do its thing.</p>
                <p>You can see the related GitHub repo (and contribute!) at https://github.com/Dreadmaker/WeatherSite</p>
                <p>Maybe don't do that until you've hacked the matrix though.</p>

                {{>footer}}

        </div>


</body>

</html>