<!DOCTYPE html>

<html>

<head>
        <title>Hacker Weather - Help</title>
        <link rel="icon" href="/img/HW_icon.png">
        <link rel="stylesheet" href="/css/normalStyle.css">
</head>

<body>
        <div class="main-content">

                {{>header}}
        
                <p>{{message}}</p>

                

        </div>
{{>footer}}

</body>

</html>