<!DOCTYPE html>

<html>

<head>
    <title>Perfectly Normal Weather - Home</title>
    <link rel="icon" href="/img/HW_icon.png">
    <link rel="stylesheet" href="/css/normalStyle.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="center">
            <p>A perfectly normal place to get perfectly normal weather.</p>
            <form>
            <input placeholder="Location">
            <button>
                Find Forecast
            </button>
        </form>
        
        <p id="message-1"></p>

        <p id="message-2"></p>

        <p id="message-3"></p>

        <p id="message-4"></p>
        </div>
        




    </div>

{{>footer}}


    <script src="/js/app.js"></script>
</body>

</html>