<footer>

<div class="bottom">
    <div class="leftAligned">
        <p>Created by {{name}}</p>

    </div>
    <div class="center">

        <a href="/1337">
        <img width="48px" src="/img/Ouroboros.png">
        </a>
    </div>
    <div class="rightAligned">
        <a href="https://darksky.net">
        <img width="200px" src="/img/poweredby-oneline-darkbackground.png">
        </a>
    </div>

</div>
      

</footer>