body {
    color: #00FF41;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0;
    background: #000000;
    background-image: url("/img/rainingBits.gif");

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}
footer {
    color: #003B00;
    margin-top: 16px;
    padding: 16px 0;
}
header {
    margin-top: 150px;
    margin-bottom: 16px;
    padding: 0 16px;
}
h1 {
    font-size: 96px;
    margin-bottom: 16px;
    text-align: center;
}

header a {
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 500px;
}

.bottom {
    display: flex;
    justify-content: space-between;

}

.rightAligned {
    margin-right: 6px;

}
.leftAligned {

    margin-left: 6px;

}

.center {
    text-align: center;
}


input {
    border: 1px solid #0D0208;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;

}

button {
    cursor: pointer;
    border: 1px solid #0D0208;
    background: rgb(44, 41, 43);
    color:  white;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
}